* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.head {
  background-color: rgb(219, 26, 219);
  height: 40px;
}
.foot {
    background-color: rgb(219, 26, 219);
    height: 20px;
  }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  padding-inline: 16px;
}
.profile-card {
  background-color: rgb(219, 26, 219);
  min-height: 500px;
  width: 100%;
 max-width: 400px;
  border-radius: 15px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  overflow: hidden;

  & .circle1{
    height: 100px;
    width: 100px;
    background-color:  rgba(206, 30, 206, 0.836);
    border-radius: 50%;
    position: absolute;
    top: 140px;
    left: 0;
    z-index: 0;
  }
  & .circle2{
    height: 250px;
    width: 250px;
    background-color: rgba(206, 30, 206, 0.836);
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top:10px; 
    z-index: 0; 
  }

  & .icons-btn {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    & img {
      height: 40px;
      width: 40px;
      cursor: pointer;
      
    }
  }
}
.user-profile {
  background-color: rgb(246, 249, 250);
  min-height: 300px;
  max-width: 365px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: relative;
  
  & .avatar-conatiner {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: rgb(246, 249, 250);
    margin-top: -75px;
    padding: 16px;
    position: relative;
    transition: 0.3s ease-in;
    cursor: pointer;
    &:hover{
        transform: scale(1.20);
    }

    & img {
      background-color: rgb(59, 189, 232);
      width: 98%;
      height: 98%;
      border-radius: 50%;
    }
    & .dot {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      position: absolute;
      left: 110px;
      bottom: 24px;
      background-color: rgb(246, 249, 250);
      padding: 4px;
      & .green-dot {
        width: 95%;
        height: 95%;
        background-color: rgb(41, 212, 41);
        border-radius: 50%;
        padding: 10px;
      }
    }
  }

  & .social {
    width: 100%;
    text-align: center;
    margin-block: 10px;
    & img {
      height: 30px;
      width: 30px;
      margin-inline: 4px;
      cursor: pointer;
    }
  }
  & .content {
    padding: 10px;
    text-align: center;
    & h3 {
      margin-bottom: 7px;
      text-transform: uppercase;
    }
    & button {
      padding: 10px;
      font-size: 16px;
      border-radius: 16px;
      background-color: rgb(75, 231, 226);
      border: none;
      margin-block: 10px;
      display: inline-block;
      cursor: pointer;
      color: #000;
      &:hover{
        background-color: rgb(105, 208, 205);
      }
    }
  }
}
